<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AnonyTutor - About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css')}}">

        <style>
            body {
                color: #3B3086
            }

            ul.navBar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333
            }
            li.navBar {
            float: left;
            }
        </style>
    </head>

    <body>
        <ul class="navBar">
            <li class="navBar"><a href="#home">About</a></li>
            <li class="navBar"><a href="#news">Register Now</a></li>
            <li class="navBar"><a href="#about">Contact</a></li>
        </ul>

        <section>
            <div class="aboutheader">
                <img src="https://www.tvdsb.ca/en/our-board/resources/Images/covid/LearnAtHome/Distance-Learning-Banner-PARENT.jpg"
                alt="About Header Pic" style="vertical-align:middle;margin:50px 0px">
            </div>
        </section>

          

    </body>




</html>