<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>AnonyTutor - Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>
      <h1>Contact Us</h1>
      <div>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@anonytutor.ca</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>(416)-123-4567</p>
      </div>

      <h1>FAQs</h1>
      <div>
        <h3>How do I register as a student?</h3>
        <p>To register as a student, head over to our registration page, enter your information and we will match you up anonymously with a tutor!</p>
        <h3>When will I be matched?</h3>
        <p>The amount of time it takes to be matched is largely dependent on the tutors we have, we will work to match you up as soon as possible!</p>
        <h3>What if I want to switch tutors?</h3>
        <p>That's no problem! Every session you can choose to be matched with the same or different tutor</p>
      </div>
            
      <h1>Connect With Us!</h1>
      <div>
        <a href="http://www.facebook.com" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="http://www.twitter.com" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://www.instagram.com" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>

    </body>